In [1]:
# import libraries
import pandas as pd
import collections
import string
import re
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/jupyter-
[nltk_data]     ruzmat/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
input = open("kun_malumotlari.txt", 'r', encoding="utf8")
df = input.read()

In [3]:
def tokenize(text):
    text = text.lower()
    newtext = re.sub(r'[0-9]+', '', text)
    tokenizer = RegexpTokenizer(r"[\d]+|[\w-]+")
    df1 = tokenizer.tokenize(newtext)
    return df1

In [4]:
df2 = tokenize(df)

In [5]:
def collect_frequencies(text):
    tf_text = collections.Counter (text)
    for i in tf_text:
        tf_text [i] = tf_text [i]
    df3 = pd.DataFrame.from_dict( tf_text, orient='index').reset_index()
    df3.rename(columns={"index":"words"}, inplace = True)
    df3.rename(columns={0:"frequencies"}, inplace = True)
    df4 = df3.sort_values(by=['frequencies'], ascending=False)
    return df4

In [6]:
df5 = collect_frequencies(df2)

In [7]:
df5.to_csv('words_frequencies_500mb.csv' , index=False)

In [8]:
data = pd.read_csv('words_frequencies_500mb.csv')

In [9]:
data

                   words  frequencies
0                     ва       838868
1                  билан       365583
2                     бу       268851
3                   учун       268022
4                    ҳам       213370
...                  ...          ...
671869  tex-yunol-servis            1
671870         арашалуви            1
671871    алимжанованинг            1
671872       перикардиал            1
671873       рекаламалар            1

[671874 rows x 2 columns]